@model sga_stif.ViewModel.Perfil.EditaPerfilViewModel

@{
    ViewData["Title"] = "Edita Perfil";
}

<hr />

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Editar Perfil</h3>
    </div>
    <form asp-action="EditaPerfil">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPerfil" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <textarea asp-for="Descricao" class="form-control"></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>

                </div>

            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>

</div>
