@model sga_stif.ViewModel.Pagamento.DadosPagamentoViewModel

@{
    ViewData["Title"] = "Novo Pagamento";
}

<hr />

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Novo Pagamento</h3>
    </div>
    <form asp-action="EditaPerfil">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdQuotaSocio" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Apelido" class="control-label"></label>
                        <input asp-for="Apelido" class="form-control" />
                        <span asp-validation-for="Apelido" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Montante" class="control-label"></label>
                        <input asp-for="Montante" class="form-control" />
                        <span asp-validation-for="Montante" class="text-danger"></span>
                    </div>

                </div>

            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Efetuar Pagamento</button>
        </div>
    </form>

</div>
