@model sga_stif.ViewModel.Utilizador.MudaPalavraPasseViewModel

@{
    ViewData["Title"] = "Mudar Palavra-Passe";
}


<hr />

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Mudar Palavra-Passe</h3>
    </div>

    <form asp-action="MudaPalavraPasse" enctype="multipart/form-data">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="IdUtilizador" />*@

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="PalavraPasseAntiga" class="control-label"></label>
                        <input asp-for="PalavraPasseAntiga" class="form-control" type="password" />
                        <span asp-validation-for="PalavraPasseAntiga" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NovaPalavraPasse" class="control-label"></label>
                        <input asp-for="NovaPalavraPasse" class="form-control" type="password" />
                        <span asp-validation-for="NovaPalavraPasse" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmacaoNovaPalavraPasse" class="control-label"></label>
                        <input asp-for="ConfirmacaoNovaPalavraPasse" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmacaoNovaPalavraPasse" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <a asp-action="PerfilUtilizador" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-success">Mudar</button>
        </div>

    </form>

</div>
