@model sga_stif.ViewModel.Utilizador.ResetePalavraPasseViewModel

@{
    ViewData["Title"] = "Resetar palavra-passe";
}


<hr />

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Resetar palavra-passe</h3>
    </div>

    <form asp-action="NovoUtilizador" enctype="multipart/form-data">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUtilizador" />


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PalavraPasse" class="control-label"></label>
                        <input asp-for="PalavraPasse" class="form-control" />
                        <span asp-validation-for="PalavraPasse" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmacaoPalavraPasse" class="control-label"></label>
                        <input asp-for="ConfirmacaoPalavraPasse" class="form-control" />
                        <span asp-validation-for="ConfirmacaoPalavraPasse" class="text-danger"></span>
                    </div>
                </div>



            </div>

        </div>

        <div class="card-footer">
            <a asp-action="ListaUtilizador" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>

    </form>

</div>
