@model sga_stif.ViewModel.InstituicaoFinanceira.NovoInstituicaoFinanceiraColaboradoresViewModel

@{
    ViewData["Title"] = "Novo Instituicao Financeira Colaboradores";
}

<hr />

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Novo Numero de Colaboradores de : <small> @ViewBag.NomeDeInstituicaoFinanceira </small> </h3>
    </div>
    <form asp-action="NovoInstituicaoFinanceiraColaboradores">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdInstituicaoFinanceira" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NumeroColaboradores" class="control-label"></label>
                        <input asp-for="NumeroColaboradores" class="form-control" /> 
                        <span asp-validation-for="NumeroColaboradores" class="text-danger"></span>
                    </div>

                </div>

            </div>
           
        </div>

        <div class="card-footer">
            <a  asp-action="DetalhesInstituicaoFinanceira" asp-route-idInstituicaoFinanceira="@Model.IdInstituicaoFinanceira" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>

</div>



