@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Caregamento de Pagamento";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#btnupload').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            var institiucaoFinanceira = $('#IdInstituicaoFinanceira').val();
            if (filename.length == 0) {
                alert("Selecione um ficheiro.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Selecione apenas arquivos do Excel.");
                    return false;
                }
            }
            var fdata = new FormData();
            var fileUpload = $("#fileupload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            fdata.append("InstitiucaoFinanceira", institiucaoFinanceira);
            $.ajax({
                type: "POST",
                url: "/Ficheiro/ImportarFicheiro",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Ocorreu algum erro durante o upload');
                    else {
                        $('#divPrint').html(response);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });
        })
       
    });

</script>

<div class="card">
    <div class="card-header">
        <form asp-controller="Home" asp-action="Export">

            <div class="row no-print">

                <div class="col-12">

                    <p class="lead">Carregamento ded Pagamentos</p>

                    <div class="row align-items-end">

                        <div class="col-md-3">
                            <label class="control-label">Intituição Financeira</label>
                            <select asp-items="@ViewBag.IdInstituicaoFinanceira" class="form-control" id="IdInstituicaoFinanceira" name="IdInstituicaoFinanceira">
                                <option disabled selected>--- Selecione ---</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <input type="file" id="fileupload" name="files" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" name="Upload" value="Carregar Pagamentos" id="btnupload" class="btn btn-primary" />
                        </div>

                    </div>

                    <div id="divPrint"></div>


                </div>

            </div>

        </form>
    </div>
</div>
