@model sga_stif.ViewModel.Ilha.EmailTodasIlhaViewModel

@{
	ViewData["Title"] = "Novo Email";
}
<script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>


<hr />

<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">E-mail para Ilha - <small>Todos</small></h3>
	</div>

	<form asp-action="EnvioDeEmailTodasIlha" method="post" enctype="multipart/form-data">
		<div class="card-body">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">

				<div class="col-md-12">
				
					<div class="form-group">
						<label asp-for="Assunto" class="control-label"></label>
						<input asp-for="Assunto" class="form-control" />
						<span asp-validation-for="Assunto" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Regiao" class="control-label"></label>
						<select asp-for="Regiao" class="form-control">
							<option value="Todos" selected>Todos</option>
							<option value="Norte">Norte</option>
							<option value="Sul">Sul</option>
						</select>
						<span asp-validation-for="Regiao" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="IdInstituicaoFinanceira" class="control-label"></label>
						<select asp-for="IdInstituicaoFinanceira" asp-items="@ViewBag.IdInstituicaoFinanceira"
								class="form-control">
							<option selected value=-1>--- Todos ---</option>
						</select>
						<span asp-validation-for="IdInstituicaoFinanceira" class="text-danger"></span>
					</div>


					<div class="form-group">
						<label asp-for="CorpoDoEmail" class="control-label"></label>
						<textarea class="form-control" asp-for="CorpoDoEmail" rows="4" cols="50" id="CorpoDoEmail"></textarea>

						<span asp-validation-for="CorpoDoEmail" class="text-danger"></span>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<div class="card-footer">
			<a asp-action="ListaIlhas" class="btn btn-secondary" title="Cancelar envio">Cancelar</a>
			<button type="submit" class="btn btn-success" title="Enviar email">Enviar</button>
		</div>

	</form>

</div>

@* @Html.Hidden("RecuperaLinkPegarAgencia", Url.Action("PegarAgencia", "Socio")) *@

<script>
	CKEDITOR.replace('CorpoDoEmail');
</script>
