@model sga_stif.Models.Socio

@{
  ViewData["Title"] = "Novo";
}


<hr />

<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Novo Socio</h3>
  </div>

  <form asp-action="Create" enctype="multipart/form-data">
    <div class="card-body">

      <div asp-validation-summary="ModelOnly" class="text-danger"></div>


      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="Apelido" class="control-label"></label>
            <input asp-for="Apelido" class="form-control" />
            <span asp-validation-for="Apelido" class="text-danger"></span>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label asp-for="CinBi" class="control-label"></label>
            <input asp-for="CinBi" class="form-control" />
            <span asp-validation-for="CinBi" class="text-danger"></span>
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Foto</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="Image" id="Imageinput">
                <label class="custom-file-label" for="Imageinput">Escolhe a foto</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">Upload</span>
              </div>
            </div>
          </div>

        </div>

      </div>



      <div class="row">

        <div class="col-md-6">

           <div class="form-group">
             <label asp-for="NumeroPassaporte" class="control-label"></label>
            <input asp-for="NumeroPassaporte" class="form-control" />
            <span asp-validation-for="NumeroPassaporte" class="text-danger"></span>
          </div>

          <div class="form-group">
            <label asp-for="IdTipoQuota" class="control-label"></label>
            <select asp-for="IdTipoQuota" asp-items="@ViewBag.IdTipoQuota" class="form-control"></select>
            <span asp-validation-for="IdTipoQuota" class="text-danger"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label asp-for="IdTipologiaSocio" class="control-label"></label>
            <select asp-for="IdTipologiaSocio" asp-items="@ViewBag.IdTipologiaSocio" class="form-control"></select>
            <span asp-validation-for="IdTipologiaSocio" class="text-danger"></span>
          </div>

          <div class="form-group">
            <label asp-for="IdAgencia" class="control-label"></label>
            <select asp-for="IdAgencia" asp-items="@ViewBag.IdAgencia" class="form-control"></select>
            <span asp-validation-for="IdAgencia" class="text-danger"></span>
          </div>
        </div>

      </div>

    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>

  </form>

</div>
