@model sga_stif.ViewModel.Socio.MudaDirigente
@{
	ViewData["Title"] = "Mudar Derigente";
}

<hr />

<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">Mudar Tipo Derigente</h3>
	</div>
	<form asp-action="MudarTipoDirigente">
		<div class="card-body">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="IdSocio" />
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="DerigenteStiff" class="control-label"></label>
						<select asp-for="DerigenteStiff" class="form-control" asp-items="Html.GetEnumSelectList<DerigenteStiff>()">
							<option disabled selected>--- seleccione ---</option>
						</select>
						<span asp-validation-for="DerigenteStiff" class="text-danger"></span>
					</div>

				</div>

			</div>

		</div>

		<div class="card-footer">
			<a asp-action="DetalhesSocio" asp-route-idSocio="@Model.IdSocio" class="btn btn-secondary">Cancelar</a>
			<button type="submit" class="btn btn-success">Mugar</button>
		</div>
	</form>

</div>
